services:
  valheim-server:
    build: .
    image: drummercraig/valheim-server:latest
    container_name: valheim-server
    env_file:
      - settings.env
    volumes:
      - ./valheim-data:/valheim-data
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}/udp"
      - "${SERVER_PORT_1}:${SERVER_PORT_1}/udp"
      - "${SERVER_PORT_2}:${SERVER_PORT_2}/udp"
    restart: unless-stopped
