services:
  valheim-server:
    build: .
    image: drummercraig/valheim-server:latest
    container_name: valheim-server
    env_file:
      - settings.env
    volumes:
      - ./valheim-data:/valheim-data
    ports:
      - "${SERVER_PORT:-2456}:${SERVER_PORT:-2456}/udp"
      - "${SERVER_PORT_1:-2457}:${SERVER_PORT_1:-2457}/udp"
      - "${SERVER_PORT_2:-2458}:${SERVER_PORT_2:-2458}/udp"
    restart: unless-stopped
