services:
  valheim-server:
    build: .
    image: drummercraig/valheim-server:latest
    container_name: valheim-server
    cap_add:
      - sys_nice
    ports:
      - "2456-2457:2456-2457/udp"
      - "2458:2458/udp" # Crossplay port
    volumes:
      - ./userfiles:/userfiles
      - ./serverfiles:/opt/valheim
    env_file: .env
    restart: unless-stopped
    stop_grace_period: 2m
    deploy:
      resources:
        limits:
          memory: 10G
        reservations:
          memory: 3G